<link href="/src/app/css/styles.css" rel="stylesheet">
<link href="/src/app/css/style.css" rel="stylesheet">
<link href="/src/app/css/bootstrap/css/bootstrap.css" rel="stylesheet">
<script src="http://cdn.auth0.com/js/auth0/8.3.0/auth0.js"></script>

<script src='https://www.google.com/recaptcha/api.js'></script>
  <script type="text/javascript">
    var datefield = document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type != "date") {
      document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
      document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
      document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
    }
  </script>
  <script type="text/javascript">
    $('.submit-button').onclick(function (e) {
      e.preventDefault();
      webAuth.signup({
        connection: 'Username-Password-Authentication',
        email: $('.email').value(),
        password: $('.password').value()
      }, function (err) {
        if (err) return alert('Something went wrong: ' + err.message);
        return alert('success signup without login!')
      });
    });
  </script>
  <body>

<div class="container">

  <object data="/src/app/img/cd-logo.svg" type="image/svg+xml" class="cd-logo"></object>
  <object data="/src/app/img/cd-logo-2.svg" type="image/svg+xml" class="cd-logo-2x"></object>

</div>

<div class="login-page">


  <div class="form">

      <input id="name" type="text" name="name" placeholder="Company name" required>

      <input class="email" id="email" type="email" name="email" placeholder="Login email" required>
      <input id="domain" type="text" name="domain" placeholder="Company email domain" required>
      e.g. cashbycycling.com. We will use this to link the employees to our database.
      <br>
      <br>

      <input class="password"id="password" type="password" name="password" placeholder="Password" required>
      <br>
      Company address:
      <br><br>

      <div class="address">

        <input id="street" type="text" name="street" placeholder="Street" required>
        <input id="number" type="number" name="number" min="0" placeholder="#" required>
        <input id="city" type="text" name="city" placeholder="City" required>
        <input id="country" type="text" name="country" placeholder="Country" required>
        <input id="code" type="text" name="code" placeholder="ZIP code" required>
      </div>

      <br>
      Monthly report starting date:
      <br><br>
      <input id="date" type="date" name="date" placeholder="yyyy-mm-dd" max="2050-12-31" min="2016-01-01"
             required>
      <br><br>

      <div class="g-recaptcha" name="g-recaptcha-response" data-theme="light"
           data-sitekey="6LflVCETAAAAAHj_Hnux8GIoHc60vD4VQ9aLtVVq"
           style="transform:scale(1.19);-webkit-transform:scale(1.19);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
      <br><br>
      <button>create</button>
      <p class="message">Already registered? <a class="submit-button" routerLink="/login">Sign In</a></p>

  </div>
</div>
</body>
