<!-- jQuery UI -->
<link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">\
<!-- Bootstrap -->
<link href="/src/app/css/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- styles -->
<link href="/src/app/css/styles.css" rel="stylesheet">
<link href="/src/app/css/style.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]-
-->
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

<body>
<div class="container">
  <object data="/src/app/img/cd-logo.svg" type="image/svg+xml" class="cd-logo"></object>
  <object data="/src/app/img/cd-logo-2.svg" type="image/svg+xml" class="cd-logo-2x"></object>
</div>
<div class="login-page">
  <div class="form">
    <label>Changing password for: $user.email</label>
    <input type="text" placeholder="Type your new password"/>
    <input type="text" placeholder="Type your new password again"/>
    <br/><br/>
    <button>Reset password</button>
  </div>
</div>
</body>
